<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partial/head.ejs') %>
    </head>
    <body>
        <%- include('./partial/navbar.ejs') %>
        <p>Vai ca lon</p>
    </body>
</html>
