<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partial/head.ejs') %>
    </head>
    <body>
        <%- include('../partial/navbar.ejs') %>
        <div>
            <div>
                <img
                    class="h-32 w-full object-cover lg:h-48"
                    src="https://images.unsplash.com/photo-1444628838545-ac4016a5418a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                    alt=""
                />
            </div>
            <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
                <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
                    <div class="flex">
                        <img
                            class="h-24 w-24 rounded-full ring-4 ring-white sm:h-32 sm:w-32"
                            src="https://ui-avatars.com/api/?name=<%=user.name%>&background=0D8ABC&color=fff&size=32"
                            alt=""
                        />
                    </div>
                    <div class="mt-6 sm:flex sm:min-w-0 sm:flex-1 sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
                        <div class="mt-6 min-w-0 flex-1 sm:hidden 2xl:block">
                            <h1 class="truncate text-2xl font-bold text-gray-900"><%=user.name%></h1>
                        </div>
                    </div>
                    <div class="flex items-center justify-start mt-4">
                        <a
                            href="/user/change-password"
                            class="rounded-md bg-indigo-600 py-2.5 px-3.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                        >
                            Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabs -->

        <!-- Description list -->
        <div class="mx-auto mt-6 max-w-5xl px-4 sm:px-6 lg:px-8" id="update-me">
            <div class="container mx-auto px-4 py-8">
                <form class="w-full max-w-sm" id="update-me-password">
                    <div class="flex align-start w-full flex-col text-start">
                        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                        <div class="mt-1">
                            <input
                                required
                                type="password"
                                name="password"
                                id="password"
                                class="block w-full py-2 px-4 rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                            />
                        </div>
                    </div>
                    <div class="flex align-start w-full flex-col text-start">
                        <label for="newPassword" class="block text-sm font-medium text-gray-700">New Password</label>
                        <div class="mt-1">
                            <input
                                required
                                type="password"
                                name="newPassword"
                                id="newPassword"
                                class="block w-full py-2 px-4 rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                            />
                        </div>
                    </div>

                    <div class="flex align-start w-full flex-col text-start">
                        <label for="confirmNewPassword" class="block text-sm font-medium text-gray-700">Confirn New Password</label>
                        <div class="mt-1">
                            <input
                                required
                                type="password"
                                name="confirmNewPassword"
                                id="confirmNewPassword"
                                class="block w-full py-2 px-4 rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                            />
                        </div>
                    </div>

                    <div class="flex items-center justify-start mt-4">
                        <button
                            type="submit"
                            class="rounded-md bg-indigo-600 py-2.5 px-3.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                        >
                            Change Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </body>

    <script>
        $(document).ready(() => {
            $("#update-me-password").submit((e) => {
                e.preventDefault();

                const formData = $("#update-me-password").serializeArray();

                let data = {};

                formData.forEach((item) => {
                    data[item.name] = item.value;
                });

                if (data.newPassword !== data.confirmNewPassword) {
                    toastify("New password and confirm new password must be the same", "#dc3545");
                    return;
                }

                axios
                    .post("/user/change-password", data)
                    .then((res) => {
                        toastify(res.data, "#28a745");
                        setTimeout(() => {
                            window.location.href = "/user/change-password";
                        }, 1000);
                    })
                    .catch((err) => {
                        toastify(err.response.data, "#dc3545");
                    });
            });
        });
    </script>
</html>
